artifacts/templates/arm/logic-app.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflow_name": {
            "type": "String"
        },
        "external_id_teams": {
            "type": "String"
        }
    },
    "variables": {
    },
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflow_name')]",
            "location": "westus",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {
                            },
                            "type": "Object"
                        }
                    },
                    "staticResults": {
                        "HTTP0": {
                            "status": "Succeeded",
                            "outputs": {
                                "headers": {
                                },
                                "statusCode": "OK"
                            }
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "frequency": "Minute",
                                "interval": 1
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "Condition": {
                            "actions": {
                                "Post_a_message_(V3)": {
                                    "runAfter": {
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "body": {
                                                "content": "<p><span style=\"font-family: verdana\">Alert :: Loyalty info service is down<br>\nAutomated monitoring or service failed</span> <br>\n@{body('HTTP')}<br>\n</p>",
                                                "contentType": "html"
                                            }
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['teams']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/v3/beta/teams/@{encodeURIComponent('be450108-f882-4e1e-9635-a8b4df24a745')}/channels/@{encodeURIComponent('19:7f68e6d0b2c44299946638a1286e4a42@thread.skype')}/messages"
                                    }
                                }
                            },
                            "runAfter": {
                                "HTTP": [
                                    "Succeeded"
                                ]
                            },
                            "expression": {
                                "and": [
                                    {
                                        "not": {
                                            "equals": [
                                                "@outputs('HTTP')['statusCode']",
                                                200
                                            ]
                                        }
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "HTTP": {
                            "runAfter": {
                            },
                            "type": "Http",
                            "inputs": {
                                "method": "GET",
                                "uri": "https://mgmpm10-uw-fa-d.azurewebsites.net/api/monitor/loyalty-info?code=2i2xQJxOINOCoNsPz3W/oafAknp2t1yPKlJuOMg9rzmxIClS8WYxww=="
                            },
                            "runtimeConfiguration": {
                                "staticResult": {
                                    "staticResultOptions": "Disabled",
                                    "name": "HTTP0"
                                }
                            }
                        }
                    },
                    "outputs": {
                    }
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "teams": {
                                "connectionId": "[parameters('external_id_teams')]",
                                "connectionName": "teams",
                                "id": "/subscriptions/7536f21c-9cd9-42a0-b69b-2074948f1cdb/providers/Microsoft.Web/locations/westus/managedApis/teams"
                            }
                        }
                    }
                }
            }
        }
    ]
}
